<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>jenkins_githash_to_destroy</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Destroy</name>
          <description>Uncheck to only view destroy plan</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.0.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${jenkins_git_repo}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${jenkins_git_hash}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd jenkins-terraform
aws s3 --sse=AES256 cp s3://${stack_s3_bucket}/jenkins_state/jenkins_${jenkins_githash_to_destroy}/terraform.tfstate terraform.tfstate
#env &gt; env.txt
terraform init \
-backend-config=&quot;bucket=${jenkins_tf_state_bucket}&quot; \
-backend-config=&quot;key=jenkins_state/jenkins_${jenkins_githash_to_destroy}/terraform.tfstate&quot; \
-backend-config=&quot;region=${jenkins_tf_state_region}&quot;

terraform plan -destroy \
-var &quot;git_commit=`echo ${GIT_COMMIT} |cut -c1-7`&quot; \
-var &quot;stack_s3_bucket=${stack_s3_bucket}&quot; \
-var &quot;stack_id=${stack_id}&quot; \
-var &quot;jenkins_subnet_id=${jenkins_subnet_id}&quot; \
-var &quot;jenkins_vpc_id=${jenkins_vpc_id}&quot; \
-var &quot;jenkins_instance_profile_name=${jenkins_instance_profile_name}&quot; \
-var &quot;jenkins_sg_ingress_http_cidr_blocks=${jenkins_sg_ingress_http_cidr_blocks}&quot; \
-var &quot;jenkins_sg_ingress_https_cidr_blocks=${jenkins_sg_ingress_https_cidr_blocks}&quot; \
-var &quot;jenkins_sg_ingress_ssh_cidr_blocks=${jenkins_sg_ingress_ssh_cidr_blocks}&quot; \
-var &quot;jenkins_sg_egress_allow_all_cidr_blocks=${jenkins_sg_egress_allow_all_cidr_blocks}&quot; \
-var &quot;ami_id=${ami_id}&quot; \
-var &quot;dsm_url=${dsm_url}&quot; \
-var &quot;jenkins_config_s3_location=${jenkins_config_s3_location}&quot; \
-var &quot;jenkins_ec2_instance_type=${jenkins_ec2_instance_type}&quot; \
-var &quot;jenkins_tf_local_var_OS_dist=${jenkins_tf_local_var_OS_dist}&quot; \
-var &quot;jenkins_ec2_ebs_volume_size=${jenkins_ec2_ebs_volume_size}&quot; \
-var &quot;jenkins_docker_maven_distro=${jenkins_docker_maven_distro}&quot; \
-var &quot;jenkins_docker_terraform_distro=${jenkins_docker_terraform_distro}&quot; \

if $Destroy; then
  terraform destroy -auto-approve \
  -var &quot;git_commit=`echo ${GIT_COMMIT} |cut -c1-7`&quot; \
  -var &quot;stack_s3_bucket=${stack_s3_bucket}&quot; \
  -var &quot;stack_id=${stack_id}&quot; \
  -var &quot;jenkins_subnet_id=${jenkins_subnet_id}&quot; \
  -var &quot;jenkins_vpc_id=${jenkins_vpc_id}&quot; \
  -var &quot;jenkins_instance_profile_name=${jenkins_instance_profile_name}&quot; \
  -var &quot;jenkins_sg_ingress_http_cidr_blocks=${jenkins_sg_ingress_http_cidr_blocks}&quot; \
  -var &quot;jenkins_sg_ingress_https_cidr_blocks=${jenkins_sg_ingress_https_cidr_blocks}&quot; \
  -var &quot;jenkins_sg_ingress_ssh_cidr_blocks=${jenkins_sg_ingress_ssh_cidr_blocks}&quot; \
  -var &quot;jenkins_sg_egress_allow_all_cidr_blocks=${jenkins_sg_egress_allow_all_cidr_blocks}&quot; \
  -var &quot;ami_id=${ami_id}&quot; \
  -var &quot;dsm_url=${dsm_url}&quot; \
  -var &quot;jenkins_config_s3_location=${jenkins_config_s3_location}&quot; \
  -var &quot;jenkins_ec2_instance_type=${jenkins_ec2_instance_type}&quot; \
  -var &quot;jenkins_tf_local_var_OS_dist=${jenkins_tf_local_var_OS_dist}&quot; \
  -var &quot;jenkins_ec2_ebs_volume_size=${jenkins_ec2_ebs_volume_size}&quot; \
  -var &quot;jenkins_docker_maven_distro=${jenkins_docker_maven_distro}&quot; \
  -var &quot;jenkins_docker_terraform_distro=${jenkins_docker_terraform_distro}&quot;
fi



</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.45">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>