<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>This build is used to override the default BDC UI. At the time of creating this build it is used by
    Aim-Ahead PIC-SURE and Open PIC-SURE.</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>pipeline_build_id</name>
                    <defaultValue>MANUAL_RUN</defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>git_hash</name>
                    <defaultValue>*/master</defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>S3_BUCKET_NAME</name>
                    <defaultValue>${stack_s3_bucket}</defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>S3_BUCKET_NAME</name>
                    <defaultValue>${stack_s3_bucket}</defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>bdc_ui_docker_tag</name>
                    <defaultValue/>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>${pic_sure_override_biodatacatalyst_ui_repo}</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>${git_hash}</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="empty-list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>
                # Echo the bdc_ui_docker_tag parameter value.
                echo &quot;bdc_ui_docker_tag: ${bdc_ui_docker_tag}&quot;

                # Print directory for debugging.
                ls -la

                # Build the image and overwrite the existing tag
                docker build --build-arg BDC_UI_TAG=${bdc_ui_docker_tag} -t hms-dbmi/pic-sure-biodatacatalyst-ui:${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT} .

                echo "BDC_UI_OVERRIDE_DOCKER_TAG=${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT}" &gt; envVars.properties
            </command>
            <configuredLocalRules/>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>