<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1581.ve4b_d0db_fcb_b_b_">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2289.v6f731d0a_02da_"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2289.v6f731d0a_02da_">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>IMAGE_NAME</string>
        <string>META_STRING</string>
        <string>CONCEPT_PATH</string>
        <string>SPRING_PROFILE</string>
        <string>DISPLAY</string>
        <string>DOCKER_IMAGE_VERSION</string>
        <string>GRANDPARENT_DISPLAY</string>
        <string>DESCRIPTION</string>
        <string>GIT_HASH</string>
        <string>DOCKER_REPO</string>
        <string>FULL_NAME</string>
        <string>DATASOURCE_USERNAME</string>
        <string>DATASOURCE_URL</string>
        <string>PARENT_DISPLAY</string>
        <string>GIT_REPO_URL</string>
        <string>GROOVY_LIB_BRANCH</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>This job is disabled as weights calculations are performed in the pg_dump and pg_restore.  The ETL is responsible for refreshing weights.  Ensure that the weights are updated there and distributed instead of directly to an environment.&#xd;
&#xd;
&#xd;
DEPRECATED&#xd;
&#xd;
        Build dictionary-weights image, push to EC2 via SSM, and restart the dictionary service.&#xd;
&#xd;
        Workflow:&#xd;
        - Builds weights.csv with scoring values&#xd;
        - Archives the CSV artifact&#xd;
        - Retrieves build spec artifacts from Retrieve Build Spec job&#xd;
        - Clones picsure-dictionary (dictionaryweights path only)&#xd;
        - Builds the dictionary-weights Docker image&#xd;
        - Runs the container to generate output using temporary STS credentials&#xd;
        - Uses SSM AWS-RunShellScript to call:&#xd;
        /opt/picsure/restart-dictionary-container.sh&#xd;
        on the target EC2 instance&#xd;
        - Restart is handled via systemd unit generated by podman&#xd;
&#xd;
        This job is triggered after:&#xd;
        Database PSQL - Dictionary Import dump and pg_restore&#xd;
&#xd;
        Parameters allow overriding weights, Git hash, Docker tag, datasource settings.&#xd;
    </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GROOVY_LIB_BRANCH</name>
          <description>The branch of the Groovy library to use</description>
          <defaultValue>release-new-ui</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DISPLAY</name>
          <description>Weight for concept_node.DISPLAY (A=highest, D=lowest)</description>
          <defaultValue>A</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CONCEPT_PATH</name>
          <description>Weight for concept_node.CONCEPT_PATH (A=highest, D=lowest)</description>
          <defaultValue>A</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FULL_NAME</name>
          <description>Weight for dataset.FULL_NAME (A=highest, D=lowest)</description>
          <defaultValue>B</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DESCRIPTION</name>
          <description>Weight for dataset.DESCRIPTION (A=highest, D=lowest)</description>
          <defaultValue>B</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_DISPLAY</name>
          <description>Weight for parent.DISPLAY (A=highest, D=lowest)</description>
          <defaultValue>C</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GRANDPARENT_DISPLAY</name>
          <description>Weight for grandparent.DISPLAY (A=highest, D=lowest)</description>
          <defaultValue>C</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>META_STRING</name>
          <description>Weight for concept_node_meta_str.values (A=highest, D=lowest)</description>
          <defaultValue>D</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REPO_URL</name>
          <description>The GitHub repository URL</description>
          <defaultValue>${dictionary_git_repo}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_HASH</name>
          <description>The Git branch to checkout</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_REPO</name>
          <description>The Docker repository name</description>
          <defaultValue>avillach</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPRING_PROFILE</name>
          <description>The Spring profile</description>
          <defaultValue>bdc</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description>The name of the Docker image</description>
          <defaultValue>dictionary_weights</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_IMAGE_VERSION</name>
          <description>The Docker image tag</description>
          <defaultValue>latest</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATASOURCE_URL</name>
          <description>Datasource URL</description>
          <defaultValue>${database_psql_host_address}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATASOURCE_USERNAME</name>
          <description>Datasource username</description>
          <defaultValue>${database_psql_root_user_secret_name}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@4331.v9d06ed4658ff">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.10.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>${jenkins_git_repo}</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>${jenkins_git_hash}</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins-docker/jobs/PIC-SURE Dictionary Weights Build and Run/jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>true</disabled>
</flow-definition>
