<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
   <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.45.3">
      <projectNameList>
        <string>*</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>S3_BUCKET_NAME</name>
          <description></description>
          <defaultValue>${stack_s3_bucket}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>aws s3api get-object-legal-hold --bucket $S3_BUCKET_NAME --key deployment_state_metadata/stacks.json &gt; lockStatus.txt
LOCK_STATE=$(cat lockStatus.txt | grep Status | cut -d &apos;:&apos; -f 2 | sed &apos;s/[ \\\&quot;]//g&apos;)
if [ $LOCK_STATE = &quot;OFF&quot; ]
    then 
        echo &quot;Deployment state not currently locked.&quot;
        
        aws s3api put-object-legal-hold \
        --bucket $S3_BUCKET_NAME \
        --key deployment_state_metadata/stacks.json \
        --legal-hold Status=ON
        
        aws s3 cp --sse-kms-key-id 7108c590-ce25-4c2d-a0e3-9f9b18afec43 s3://$S3_BUCKET_NAME/deployment_state_metadata/stacks.json .
        
    else
        echo &quot;Deployment state is currently locked. Another deployment may be in progress or have failed for some reason. Please investigate before manually clearning the lock state.&quot;
		exit -1
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>stacks.json</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>