<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job will commit to a developer branch.  Committing to master will be allowed.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd ../../

tar zvcf jobs.tar.gz jobs/*/config.xml
tar -tvf jobs.tar.gz
echo &quot;${WORKSPACE}&quot;
cp jobs.tar.gz ${WORKSPACE}
if [[ $branch != &apos;master&apos; ]]; then
	cd ${WORKSPACE}
	git clone -b ${branch} https://github.com/hms-dbmi/avillachlab-jenkins
    tar zxvf jobs.tar.gz -C avillachlab-jenkins/jenkins-docker/
else 
	echo &quot;committing to master is not allowed&quot;
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>