<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1540.v295eccc9778f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2258.v4e96d2b_da_f9b_"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2258.v4e96d2b_da_f9b_">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@770.va_6c69e063442">
      <projectNameList>
        <string>*</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_CONTROL_BRANCH</name>
          <description>The release control branch you are using. ${release_control_git_hash} is set in the global parameters.</description>
          <defaultValue>${release_control_git_hash}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>TARGET_STACK</name>
          <description>Based on selection we determine if it is the a or b stack.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>staging</string>
              <string>live</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATASET_S3_OBJECT_KEY</name>
          <description>Optional. If provided this will update the fence_mapping.json</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_API</name>
          <description>Include PIC-SURE API in the build and deploy process</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_FRONTEND</name>
          <description>Include UI in the build and deploy process</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_AUTH_MICRO_APP</name>
          <description>Include PIC-SURE Auth Micro App (PSAMA) in the build and deploy process
</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_DICTIONARY</name>
          <description>Include Dictionary in the build and deploy process</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_HPDS_AUTH</name>
          <description>Include Auth HPDS in the build and deploy process</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>INCLUDE_PIC_SURE_HPDS_OPEN</name>
          <description>Include Open HPDS in the build and deploy process
</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_DATABASE_MIGRATIONS</name>
          <description>Run database migrations</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DESTIGMATIZED_DATASET_S3_OBJECT_KEY</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GENOMIC_DATASET_S3_OBJECT_KEY</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATA_S3_OBJECT_KEY</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4175.ve65b_fa_663eed">
    <script>import groovy.json.JsonSlurper;
def bdc_ui_docker_tag;

def retrieveBuildSpecId = &quot;&quot;;
def bdcUIBuildSpecId;
def overrideUiBuildSpec;
def pipelineBuildId;
def build_hashes = {};
def hasOverrideUI;
def targetStack;
pipeline {
    agent any
    environment {
        SOURCE_SCRIPTS_FOLDER = &quot;${JENKINS_HOME}/workspace/Bash_Functions/&quot;
    }

    stages {
        stage(&apos;Retrieve Build Spec&apos;) {
            steps {
                script {
                    def result = build job: &apos;Retrieve Build Spec&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;RELEASE_CONTROL_BRANCH&apos;, value: RELEASE_CONTROL_BRANCH]]
                    retrieveBuildSpecId = result.number
                }
                script {
                    copyArtifacts filter: &apos;*&apos;, projectName: &apos;Retrieve Build Spec&apos;, selector: specific(&quot;&quot;+retrieveBuildSpecId)
                    sh &apos;cat build-spec.json&apos;
                    sh &apos;cat pipeline_git_commit.txt&apos;
                    sh &apos;pwd&apos;
                    def buildSpec = new JsonSlurper().parse(new File(&apos;/var/jenkins_home/workspace/PIC-SURE Pipeline Build and Deploy/build-spec.json&apos;))
                    pipelineBuildId = new File(&apos;/var/jenkins_home/workspace/PIC-SURE Pipeline Build and Deploy/pipeline_git_commit.txt&apos;).text.trim()
                    for(def build : buildSpec.application){
                        build_hashes[build.project_job_git_key] = build.git_hash

                        if(build.project_job_git_key == &quot;OVERRIDE_UI&quot;) {
                            hasOverrideUI = true;
                                echo &quot;Hex Code: ${build.project_job_git_key} = Color Name: ${build.git_hash}&quot;
                        }
                    }
                }
            }
        }
        stage(&apos;PIC-SURE Build and Deploy&apos;){
            steps {
                parallel (
                    picsureapi:{
                        script {
                            if (params.INCLUDE_PIC_SURE_API) {
                                def result = build job: &apos;PIC-SURE WildFly Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;git_hash&apos;, value: build_hashes[&apos;PSA&apos;]]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE WildFly Build and Deploy&quot;
                            }
                        }
                    },
                    picsurefrontend:{
                        script{
                            if (params.INCLUDE_PIC_SURE_FRONTEND) {
                                def result = build job: &apos;PIC-SURE Frontend Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;BRANCH&apos;, value: build_hashes[&apos;PSF&apos;]]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE Frontend Build and Deploy&quot;
                            }
                        }
                    },
                    picsureauth:{
                        script{
                            if (params.INCLUDE_PIC_SURE_AUTH_MICRO_APP) {
                                def result = build job: &apos;PIC-SURE Auth Micro App Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;BRANCH&apos;, value: build_hashes[&apos;PSAMA&apos;]],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;DATASET_S3_OBJECT_KEY&apos;, value: params.DATASET_S3_OBJECT_KEY],
                                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;RUN_DATABASE_MIGRATIONS&apos;, value: false]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE Auth Micro App Build and Deploy&quot;
                            }
                        }
                    },
                    dictionary:{
                        script {
                            if (params.INCLUDE_PIC_SURE_DICTIONARY) {
                                def dictionaryBuildResult = build job: &apos;PIC-SURE Dictionary Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;GIT_HASH&apos;, value: build_hashes[&apos;PSD&apos;]]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE Dictionary Build and Deploy&quot;
                            }
                        }
                    },
                    authhpds:{
                        script {
                            if (params.INCLUDE_PIC_SURE_HPDS_AUTH) {
                                def dictionaryBuildResult = build job: &apos;PIC-SURE HPDS Auth Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;git_hash&apos;, value: build_hashes[&apos;PSD&apos;]],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;DATA_S3_OBJECT_KEY&apos;, value: DATA_S3_OBJECT_KEY],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;GENOMIC_DATASET_S3_OBJECT_KEY&apos;, value: GENOMIC_DATASET_S3_OBJECT_KEY]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE HPDS Auth Build and Deploy&quot;
                            }
                        }
                    },
                    openhpds:{
                        script {
                            if (params.INCLUDE_PIC_SURE_HPDS_OPEN) {
                                def dictionaryBuildResult = build job: &apos;PIC-SURE HPDS Open Build and Deploy&apos;, parameters: [
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;TARGET_STACK&apos;, value: TARGET_STACK],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;git_hash&apos;, value: build_hashes[&apos;PSD&apos;]],
                                        [$class: &apos;StringParameterValue&apos;, name: &apos;DESTIGMATIZED_DATASET_S3_OBJECT_KEY&apos;, value: DESTIGMATIZED_DATASET_S3_OBJECT_KEY]
                                    ]
                            } else {
                                echo &quot;Skipping PIC-SURE HPDS Open Build and Deploy&quot;
                            }
                        }
                    }
                )
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>