<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL</name>
          <description>Enter the user&apos;s email or username. The user must exist in the Database.</description>
          <defaultValue>george_colon@hms.harvard.edu</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CONNECTION_ID_LOCAL</name>
          <description>connection id from the connection table for the user&apos;s connection. </description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# Check if the database root user has been set
if [ -z &quot;$database_root_user_secret_name&quot; ]; then
	echo &quot;The &apos;database_root_user_secret_name&apos; must be set in the global configuration&quot;
    exit;
fi

# Source folder containing the scripts
source_scripts_folder=&quot;${JENKINS_HOME}/workspace/Bash_Functions/&quot;
ls -la &quot;$source_scripts_folder&quot;

# Iterate through the files in the folder and source them
for script_file in &quot;$source_scripts_folder&quot;*.sh; do
    chmod +x &quot;$script_file&quot;
    if [ -f &quot;$script_file&quot; ] &amp;&amp; [ -x &quot;$script_file&quot; ]; then
        echo &quot;sourcing $script_file&quot;
        source &quot;$script_file&quot;
    fi
done

assume_role

CONNECTION_ID=&quot;${connection_id:-$CONNECTION_ID_LOCAL}&quot;

echo &quot;Connection ID: $CONNECTION_ID&quot;
echo &quot;Email: $EMAIL&quot;

# Getting a secret value by secret name
dbuser_pass=$(fetch_secret &quot;$database_root_user_secret_name&quot;)

# dbuser - seems to be the root user
dbuser_username=$(extract_field &quot;$dbuser_pass&quot; &quot;username&quot;)
dbuser_password=$(extract_field &quot;$dbuser_pass&quot; &quot;password&quot;)
dbuser_host=$(extract_field &quot;$dbuser_pass&quot; &quot;host&quot;)

# Initialize database connection information
initialize_shared_db_config &quot;${dbuser_host%:3306}&quot; &quot;$dbuser_username&quot; &quot;$dbuser_password&quot;
create_top_admin &quot;$EMAIL&quot; &quot;$CONNECTION_ID&quot;
unset_shared_db_config
reset_role</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>