<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.176.3</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>JDK-11</name>
      <home>/usr/lib/jvm/java-11-openjdk-amd64/</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>PIC-SURE-DB-MIGRATIONS</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>pic-sure-db-migration-authschema-image</string>
        <string>pic-sure-db-migration-authschema-orchestrator</string>
        <string>pic-sure-db-migration-base-image</string>
        <string>pic-sure-db-migration-custom-authschema-image</string>
        <string>pic-sure-db-migration-custom-authschema-orchestrator</string>
        <string>pic-sure-db-migration-custom-irctschema-image</string>
        <string>pic-sure-db-migration-custom-irctschema-orchestrator</string>
        <string>pic-sure-db-migration-custom-picsureschema-image</string>
        <string>pic-sure-db-migration-custom-picsureschema-orchestrator</string>
        <string>pic-sure-db-migration-irctschema-image</string>
        <string>pic-sure-db-migration-irctschema-orchestrator</string>
        <string>pic-sure-db-migration-picsureschema-image</string>
        <string>pic-sure-db-migration-picsureschema-orchestrator</string>
        <string>pic-sure-db-mysql-database</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>PIC-SURE Builds</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>PIC-SURE API Docker Build</string>
        <string>PIC-SURE API Java Build</string>
        <string>PIC-SURE Auth Micro-App Docker Build</string>
        <string>PIC-SURE Auth Micro-App Java Build</string>
        <string>PIC-SURE-HPDS Docker Build</string>
        <string>PIC-SURE-HPDS Java Build</string>
        <string>PIC-SURE-HPDS-UI Docker Build</string>
        <string>PIC-SURE-HPDS-UI-copdgene</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
