<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>stack_s3_bucket</name>
          <description></description>
          <defaultValue>avillach-biodatacatalyst-deployments-4fr56g2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>stack_id</name>
          <description></description>
          <defaultValue>4fr56g2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>config_xml_filename</name>
          <description></description>
          <defaultValue>config.xml_nonFisma</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>stack_jenkins_dockerfile</name>
          <description></description>
          <defaultValue>Dockerfile_nonFisma</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>subnet_id</name>
          <description></description>
          <defaultValue>subnet-0045aebf3198976e3</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>instance_profile_name</name>
          <description></description>
          <defaultValue>jenkins-s3-profile</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>access_cidr</name>
          <description></description>
          <defaultValue>134.174.0.0/16</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vpc_id</name>
          <description></description>
          <defaultValue>vpc-00c682aaac2a11fc9</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>provisioning_cidr</name>
          <description></description>
          <defaultValue>0.0.0.0/0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cis_centos_linux_ami_id</name>
          <description></description>
          <defaultValue>ami-0f644567956fefe71</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>okta_saml_app_id</name>
          <description></description>
          <defaultValue>exk3272aaweNgPLMQ357</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>aws_account_app</name>
          <description></description>
          <defaultValue>900561893673</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>arn_role_app</name>
          <description></description>
          <defaultValue>arn:aws:iam::900561893673:role/hms-dbmi-cnc-role</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>arn_role_cnc</name>
          <description></description>
          <defaultValue>arn:aws:iam::900561893673:role/system/jenkins-s3-role</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>arn_role_data</name>
          <description></description>
          <defaultValue>arn:aws:iam::736265540791:role/curated-datasets-s3-role</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>git_branch_avillachlab_secure_infrastructure</name>
          <description></description>
          <defaultValue>paul-non-FISMA</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>git_branch_avillachlab_jenkins_dev_release_control</name>
          <description></description>
          <defaultValue>paul-non-FISMA</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>jenkins_role_admin_name</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OKTA_API_TOKEN</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
         <hudson.model.StringParameterDefinition>
          <name>project</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>env</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.1.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/hms-dbmi/avillachlab-jenkins.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd dev-jenkins-terraform
env &gt; env.txt
terraform init
terraform apply -auto-approve \
-var &quot;git-commit=`echo ${GIT_COMMIT} |cut -c1-7`&quot; \
-var &quot;stack-s3-bucket=${stack_s3_bucket}&quot; \
-var &quot;stack-jenkins-dockerfile=${stack_jenkins_dockerfile}&quot; \
-var &quot;stack-id=${stack_id}&quot; \
-var &quot;config-xml-filename=${config_xml_filename}&quot; \
-var &quot;subnet-id=${subnet_id}&quot; \
-var &quot;vpc-id=${vpc_id}&quot; \
-var &quot;instance-profile-name=${instance_profile_name}&quot; \
-var &quot;access-cidr=${access_cidr}&quot; \
-var &quot;provisioning-cidr=${provisioning_cidr}&quot; \
-var &quot;cis-centos-linux-ami-id=${cis_centos_linux_ami_id}&quot; \
-var &quot;okta-saml-app-id=${okta_saml_app_id}&quot; \
-var &quot;aws-account-app=${aws_account_app}&quot; \
-var &quot;arn-role-app=${arn_role_app}&quot; \
-var &quot;arn-role-cnc=${arn_role_cnc}&quot; \
-var &quot;arn-role-data=${arn_role_data}&quot; \
-var &quot;git-branch-avillachlab-secure-infrastructure=${git_branch_avillachlab_secure_infrastructure}&quot; \
-var &quot;git-branch-avillachlab-jenkins-dev-release-control=${git_branch_avillachlab_jenkins_dev_release_control}&quot; \
-var &quot;jenkins-role-admin-name=${jenkins_role_admin_name}&quot; \
-var &quot;OKTA_API_TOKEN=${OKTA_API_TOKEN}&quot;
-var &quot;project=${project}&quot;
-var &quot;env=${env}&quot;



aws s3 --sse=AES256 cp terraform.tfstate s3://${stack_s3_bucket}/jenkins_state_${GIT_COMMIT}/terraform.tfstate 
aws s3 --sse=AES256 cp env.txt s3://${stack_s3_bucket}/jenkins_state_${GIT_COMMIT}/last_env.txt

INSTANCE_ID=`terraform state show aws_instance.dev-jenkins | grep &quot;\&quot;i-[a-f0-9]&quot; | cut -f 2 -d &quot;=&quot; | sed &apos;s/&quot;//g&apos;`

while [ -z $(/usr/local/bin/aws --region=us-east-1 ec2 describe-tags --filters &quot;Name=resource-id,Values=${INSTANCE_ID}&quot; | grep InitComplete) ];do echo &quot;still initializing&quot;;sleep 10;done

echo &quot;http://`terraform state show aws_instance.dev-jenkins | grep private_ip | cut -f 2 -d &quot;=&quot; | sed &apos;s/\&quot;//g&apos; | sed &apos;s/ //g&apos;`&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>