<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>source_file_s3_link</name>
          <description></description>
          <defaultValue>s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/biocatalyst_javabins_11_26_2019.tar.gz</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pipeline_build_id</name>
          <description></description>
          <defaultValue>3ad54ffaacac069980ef94842515ccb7d3c248a6</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#aws sts assume-role --duration-seconds 900 --role-arn arn:aws:iam::736265540791:role/curated-datasets-s3-role --role-session-name &quot;s3-test&quot; &gt; assume-role-output.txt
#export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
#export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
#export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
#aws s3 cp s3://avillach-73-bdcatalyst-etl/general/hpds/javabin/biocatalyst_javabins_11_26_2019.tar.gz .
#tar -xvzf *.tar.gz
#unset AWS_ACCESS_KEY_ID
#unset AWS_SECRET_ACCESS_KEY
#unset AWS_SESSION_TOKEN
aws s3 --sse=AES256 cp s3://${stack_s3_bucket}/releases/jenkins_pipeline_build_${pipeline_build_id}/pic-sure-hpds-etl.tar.gz pic-sure-hpds-etl.tar.gz 
HPDS_ETL_IMAGE=`docker load &lt; ./pic-sure-hpds-etl.tar.gz  | cut -d &apos; &apos; -f 3`
ls -alh `pwd`
docker stop dumper
docker rm dumper
docker run --name dumper -d --entrypoint sleep ${HPDS_ETL_IMAGE}  10000000
docker exec dumper mkdir -p /opt/local/hpds
docker cp columnMeta.javabin dumper:/opt/local/hpds/columnMeta.javabin
docker cp allObservationsStore.javabin dumper:/opt/local/hpds/allObservationsStore.javabin
docker cp encryption_key dumper:/opt/local/hpds/encryption_key
docker exec dumper java -Xmx2048m -jar CSVDumper-jar-with-dependencies.jar
docker exec dumper ls -alh /opt/local/hpds/
docker exec dumper rm /opt/local/hpds/allObservationsStore.javabin
docker exec dumper rm /opt/local/hpds/columnMeta.javabin
head /dev/urandom | tr -dc a-f0-9 | head -c 32 &gt; encryption_key
docker cp encryption_key dumper:/opt/local/hpds/encryption_key
docker exec dumper java -Xmx8192m -jar CSVLoader-jar-with-dependencies.jar
docker cp dumper:/opt/local/hpds/allObservationsStore.javabin .
docker cp dumper:/opt/local/hpds/encryption_key .
docker cp dumper:/opt/local/hpds/columnMeta.javabin .
tar -cvzf biocatalyst_javabins_11_26_2019_rekeyed.tar.gz *.javabin encryption_key
aws s3 --sse=AES256 cp biocatalyst_javabins_11_26_2019_rekeyed.tar.gz s3://${stack_s3_bucket}/data/biocatalyst_javabins_11_26_2019_rekeyed.tar.gz</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>