<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>

aws sts assume-role --duration-seconds 900 --role-arn $arn_role_app --role-session-name &quot;teardown-rebuild&quot; &gt; assume-role-output.txt

export AWS_ACCESS_KEY_ID=`grep AccessKeyId assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SECRET_ACCESS_KEY=`grep SecretAccessKey assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`
export AWS_SESSION_TOKEN=`grep SessionToken assume-role-output.txt | cut -d &apos;:&apos; -f 2 | sed &quot;s/[ ,\&quot;]//g&quot;`

aws iam list-instance-profiles

#aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-25db717
#aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-25db717
#aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-25db717
#aws iam delete-instance-profile --instance-profile-name dictionary-deployment-s3-profile-25db717

#aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-a-7df1843
#aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-a-7df1843
#aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-a-7df1843
#aws iam delete-instance-profile --instance-profile-name dictionary-deployment-s3-profile-a-7df1843
#aws iam delete-instance-profile --instance-profile-name visualization-deployment-s3-profile-a-7df1843

aws iam delete-instance-profile --instance-profile-name auth-hpds-deployment-s3-profile-a-29543d0
aws iam delete-instance-profile --instance-profile-name auth-hpds-deployment-s3-profile-b-11749b3
aws iam delete-instance-profile --instance-profile-name auth-hpds-deployment-s3-profile-b-523ccaf
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-a-3b466aa
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-b-338b5c6
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-b-98e6b37
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-b-a19cbe8
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-b-a2bdc3e
aws iam delete-instance-profile --instance-profile-name hpds-deployment-s3-profile-b-ae69315
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-a-29543d0
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-a-3b466aa
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-11749b3
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-338b5c6
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-523ccaf
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-98e6b37
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-a19cbe8
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-a2bdc3e
aws iam delete-instance-profile --instance-profile-name httpd-deployment-s3-profile-b-ae69315
aws iam delete-instance-profile --instance-profile-name open-hpds-deployment-s3-profile-a-29543d0
aws iam delete-instance-profile --instance-profile-name open-hpds-deployment-s3-profile-b-11749b3
aws iam delete-instance-profile --instance-profile-name open-hpds-deployment-s3-profile-b-523ccaf
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-a-29543d0
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-a-3b466aa
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-11749b3
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-338b5c6
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-523ccaf
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-98e6b37
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-a19cbe8
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-a2bdc3e
aws iam delete-instance-profile --instance-profile-name wildfly-deployment-s3-profile-b-ae69315

echo
echo
echo 
echo 

aws iam list-instance-profiles

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset AWS_SESSION_TOKEN</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.40">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>